 $devices:("desktop":"1024px",
   "tablet":"995px",
   "ipad":"768px",
   "largePhone":"540px",
   "mediumPhone":"480px",
   "smallPhone":"320px");

 $colors:("whiteShade":#faf7fe,
   "blueShade":#345679,
   "lightBlue":#4d92ba,
   "activeControl":#3ca0de,
   "greyShade":#9ba7ad,
   "blackShade":#454545
 );

$what-section:"\f012","\f27a","\f577","\f500";

$contact-section:"\f075","\f27a","\f3c5","\f098";

 $arrowIcon:"\f063";

 $autoMargin:0 auto;

 $large:38px;